@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&family=Outfit:wght@100..900&display=swap');




@import "tailwindcss";


body{
  font-family: "Outfit", sans-serif;
}
